<ul class="addy">
  <li><a href = "/contact">Click here to see my contact info</a></li>
</ul>
</div>
<noscript>
  <img src="img/mk-photo.png">
</noscript>
<img id="pic" src="img/mk-photo.png" onmouseenter="picChange()" onmouseout="picNorm()">
<article>
  <p>
    I grew up cannibalizing radios and other electronics to turn them into my brilliant idea of the day. Once I had access to a computer, I started to program. I would often write programs to help me with my math and science homework.
  </p>
  <p>
    After highschool graduation, I decided to pursue a career in Sales. I enjoyed the work but I felt that there was a more significant purpose that I wanted to achieve with my life. I worked part-time while I got a degree in Wireless Communication Technology.
  </p>
  <p>
    My wife and I left our jobs 4 years ago to come to South Carolina to start a small business. We have had our share of failures and successes. I have learned that I must be nimble about changing things that are not working and be humble enough to ask for help when necessary. 
  </p>
  <p>
    These lessons inspire me to take the Web Development Immersive class at General Assembly. I need help learning to manipulate data from various sources and display it in a readily consumable form. It doesn't hurt that I am absolutely fascinated by the topic. 
  </p>
  <p>
    The future I see for myself with the knowledge gained by this program is a combination of personal/entrepreneurial web application projects and strategic employment.
  </p>
</article>
<div>
  These are some of the websites I have done recently:
  <ul>
    <li><a href="http://www.horsesofus.com">Horses Of Us</a><span> - This wordpress site was created to showcase my wife's art business</span></li>
    <li><a href="http://shop.marcycriner.com">Shop.MarcyCriner.com</a><span> - This is a site that was created using php, css, javascript, Foundation 5 by ZURB, Hellobar, & SumoMe</span></li>
  <ul>
</div>